<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app" >
        <!-- <p v-if="xx=='A'">pppppp</p>
        <h1 v-else-if="xx=='B'">hhhhh</h1>
        <span v-else="xx=='C'">sssss</span> -->
        <template v-if="msg">
            <p>111111</p>
            <p>222222</p>
            <span>333333</span>
        </template>
       <!-- 当页面频繁渲染显示隐藏时，用v-show -->
        <div v-show="msg">sufsdkhfs</div>
    </div>
    <script src="vue.js"></script>
    <script>
        var vm=new Vue({
            el:'#app',
            data:{
                msg:false,
                xx:'A'
            }
        })
    </script>
</body>
</html>